.stock_2-section {
    background-image: url("../img/stock2/background.jpg");
    height: 442px;
    .stock_2-section-row {
        display: flex;
        justify-content: center;
        .stock_2-section-col-1 {
            margin-right: 188px;
            margin-top: 43px;
            .stock_2-section-col-1-title {
                font-family: "Open Sans";
                font-size: 48px;
                font-weight: 400;
                text-align: left;
                color: #ffffff;
                .colortext-1 {
                    color: #fff600;
                    font-family: "Open Sans";
                    font-size: 48px;
                    font-weight: 400;
                }
            }
            .stock_2-section-col-1-middle {
                display: flex;
                margin: 20px 0;
                .stock_2-section-col-1-img {
                    padding: 0 30px 0 27px;
                }
                .stock_2-section-col-1-subtitle {
                    color: #ffffff;
                    font-family: "PT Sans";
                    font-size: 24px;
                    font-weight: 400;
                    text-align: left;
                    padding-top: 25px;
                    width: 118px;
                }
            }
            .stock_2-section-col-1-button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 350px;
                height: 70px;
                background-color: #980052;
                text-decoration: none;
                color: #ffffff;
                font-family: "PT Sans";
                font-size: 24px;
                font-weight: 400;
            }    
        }
        .stock_2-section-col-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 68px;
            .stock_2-section-col-2-title {
                width: 424px;
                color: #ffffff;
                font-family: "PT Sans";
                font-size: 24px;
                .colortext-2 {
                    color: #fff600;
                    font-family: "Open Sans";
                }
            }
            .stock_2-section-col-2-middle {
                display: flex;
                width: 423px;
                height: 145px;
                margin: 25px 0;
                .stock_2-section-col-2-img {
                    padding: 0 30px 0 10px;
                }
                .stock_2-section-col-2-subtitle {
                    color: #ffffff;
                    font-family: "Open Sans";
                    font-size: 24px;
                    width: 237px;
                    display: flex;
                    flex-direction: column;
                    .colortext-3 {
                        color: #fff600;
                        font-family: "Open Sans";
                        font-size: 48px;
                        height: 73px;
                    }
                }
            }
        }
    }
}



















.stock_2-section-col-2-button {
    display: flex;
    width: 350px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: #980052;
    text-decoration: none;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 400;
}