* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s linear;
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  // width: 100%;
  // max-width: 1924px;
  // min-width: 1036px;
  // margin: 0 auto;
  // padding: 0;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  outline: none;
}
.wrapper {
  min-height: 100%;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}